button {
  height: 40px;
  width: 195px;
  border: transparent;
  font-weight: 650;
  font-size: 12px;
  border-radius: 5px;
}

.cancel {
  border: 1px solid red;
  color: red;
  background-color: white;
}

.pay {
  background-color: green;
  color: white;
}
